.bloco_esquerda{
    background-color: black;

}

.bloco_esquerda > button{ /*acessa o button filho direto de bloco esquerda*/
    display: block;
}

.bloco_direita{
    background-color: aqua;
}

