body { /*nao usa ".", nao é classe(?)*/
    background-color: #f6f8fc;
}

.bloco_superior{
    height:55px;
    display:flex; /* usar flex para poder mudar o tamanho do bloco junto com a pagina*/
    flex-direction: row;
    justify-content: space-between;
}

.esquerda_bloco_superior{
width:160px;
display:flex;
align-items: center;
margin-left:15px;
}

.centro_bloco_superior{
background-color: #f0f4fc;
display:flex;
flex:1; /*muda conforme a pagina preenchendo espaço disponivel*/
align-items: center;
margin-left:100px;
margin-right:300px;
max-width: 700px;

}

.direita_bloco_superior{

width:175px;
}

.botao_menu_nao_selecionado{
    height: 25px;
    margin-right: 20px;
}

.lupa{
height: 20px;
 /*GAMBIARRA NAO DEVERIA FICAR ASSIM*/
}

.botao_filtro_pesquisa{

 margin-left:auto;
}

.pesquisa_email{
    border:transparent;
    background-color: #f0f4fc;
    
}

.bloco_esquerda{
    background-color: bisque;
    display: block;
    max-width:250px;

}
